[user]
	name = gideonoludeyi
	email = 49620086+gideonoludeyi@users.noreply.github.com
[core]
	editor = vim
	excludesFile = ~/.gitignore

[alias]
	st = status -s
	lgo = log --oneline
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
