[user]
  name = gideonoludeyi
  email = 49620086+gideonoludeyi@users.noreply.github.com
  signingkey = 4E97812C14CDC6DD4AB7F5D0681F9EFB110F2A2C
[core]
  editor = vim
  excludesFile = ~/.gitignore

[alias]
  st = status -s
  lgo = log --oneline
[init]
  defaultBranch = main
[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
[merge]
  tool = meld
  conflictstyle = zdiff3
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[commit]
	gpgsign = true
